.Player {
  margin: 12px;
  /*height: 300px;*/
  width: 500px;
}

.Player-Content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Player-Content img {
  zoom: 1.25;
  margin: 5px;
  border-radius: 100%;
}

.player-title {
  align-self: left;
}

.Player-Info {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.Player-Vote {
  position: absolute;
  bottom: 10px;
  right: 35px;
}