.profile {
  display: flex;
  flex-direction: column;
  /*margin-top: -10px;*/
  /*z-index: 0;*/
}

.charts {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.linear-chart-wrapper {
  margin-top: 70px;
}

.profile-header {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #7986cc;
  display: flex;
  flex-direction: column;
}

.profile-photo {
  border-radius: 100%;
  zoom: 1.25;
  align-self: center;
}

.profile-name {
  color: white;
  font-size: x-large;
}

.profile-subtitle {
  color: white;
  margin: 5px;
}

.profile-subtitle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}